$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
$black: #292C33;
$grey: #95A2BB;
$white: #fff;
$pink: #A18CB4;
$roxo: #5840ba;
$roxoo: #724fff;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');